{% extends 'core/base.html' %} {% load static %} {% block content %}
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1 class="page-name">Dashboard</h1>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">my account</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline dashboard-menu text-center">
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li><a href="{% url 'order' %}">Orders</a></li>
          <li><a href="{% url 'address' %}">Address</a></li>
          <li>
            <a class="active" href="{% url 'profile-details' %}"
              >Profile Details</a
            >
          </li>
        </ul>
        <div class="dashboard-wrapper dashboard-user-profile">
          <div class="media">
            {% comment %}
            <div class="pull-left text-center" href="#!">
              <img
                class="media-object user-img"
                src="images/avater.jpg"
                alt="Image"
              />
              <a href="#x" class="btn btn-transparent mt-20">Change Image</a>
            </div>
            {% endcomment %}
            <div class="media-body">
              <ul class="user-profile-list">
                <li><span>Full Name:</span>{{address.full_name}}</li>
                <li><span>Email:</span>{{request.user.email}}</li>
                <li><span>Phone:</span>+88{{address.mobile}}</li>
                <li><span>Address:</span>{{address.address}}</li>
                <li><span>Country:</span>{{address.country}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
