{% extends 'core/base.html' %} {% load static %} {% block content %}
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1 class="page-name">Dashboard</h1>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">my account</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline dashboard-menu text-center">
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li><a class="active" href="{% url 'order' %}">Orders</a></li>
          <li><a href="{% url 'address' %}">Address</a></li>
          <li><a href="{% url 'profile-details' %}">Profile Details</a></li>
        </ul>
        <div class="dashboard-wrapper user-dashboard">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Date</th>
                  <th>Items</th>
                  <th>Total Price</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                <tr>
                  <td>#{{order.orderId}}</td>
                  <td>{{order.order_date}}</td>
                  <td>{{order.orderitems.all|length}}</td>
                  <td>${{order.get_totals}}</td>
                  <td>
                    <!--Order Status-->
                    {% if order.order_status == 'Completed' %}
                    <span class="label label-success"
                      >{{order.order_status}}</span
                    >
                    {% endif %} {% if order.order_status == 'Pending' %}
                    <span class="label label-warning"
                      >{{order.order_status}}</span
                    >
                    {% endif %} {% if order.order_status == 'On the Way' %}
                    <span class="label label-danger"
                      >{{order.order_status}}</span
                    >
                    {% endif %} {% if order.order_status == 'Accepted' %}
                    <span class="label label-primary"
                      >{{order.order_status}}</span
                    >
                    {% endif %} {% if order.order_status == 'Processing' %}
                    <span class="label label-info">{{order.order_status}}</span>
                    {% endif %}
                  </td>
                  {% comment %}
                  <td><a href="order.html" class="btn btn-default">View</a></td>
                  {% endcomment %}
                </tr>
                {% endfor %}
                <!--End of order status-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
